body{
	margin:0px;
}
form{
	margin: auto;
    max-width: 190px;
}
.Filling-container{
	padding-top:20px;
}
.Filling-container input{
	width: 186px;
	display: flex;
	text-align: center;
    max-width: 186px;
}
#map{
	margin: auto;
	max-width: 800px;
	height: 370px;
	border: 2px solid rgba(66,68,66,0.3);
}
.Filling-container p{
	padding: 5px;
	text-align: center;
	margin: 0px;
	font-family:Roboto, Arial, sans-serif;
	color: #525252;
	cursor: default;
}
.Filling-container .submit{
	text-align: center;
	padding: 5px;
	font-family:Roboto, Arial, sans-serif;
	color: #525252;
	}
.Filling-container .submit:hover{
	background: rgba(66,68,66,0.3);
	cursor:pointer;
}
.container{
	margin:auto;
	max-width: 800px;
	border-top: 2px solid rgba(66,68,66,0.3);
	flex-wrap: wrap;
    display: flex;
}
.logo{
	font-size: 30px;
	padding: 5px;
    background: rgba(66,68,66,0.3);
    text-align: center;
	font-family:Roboto, Arial, sans-serif;
	cursor: default;
}
@media screen and (orientation:portrait) {
    .container, .weather{
     flex-direction: column;
 }
 }
.container .item{
	padding: 5px;
    margin-left: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	font-family:Roboto, Arial, sans-serif;
	margin: 10px;
	cursor: default;
}
.container .days{
	display: flex;
	width: 100%;
}
.container .weather{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.item_template{
	display: none;
}
.container .item:hover{
	background: rgba(66,68,66,0.3);
}
.container .days .day{
	padding: 5px;
	background:rgba(66,68,66,0.3);
	font-family:Roboto, Arial, sans-serif;
	cursor: pointer;
}
.container .days .day:hover{
	background:rgba(0,0,0,0.36);
}
